*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: "Open Sans", serif;
  font-style: bold;
}

/* header design */

.header-logo{
font-size: 45px;
color: black;
}

.rcolor{
  color: #FD6E0A;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 125px;
}

.header_section{
  background: #FFF8F3;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left, right bottom;
  background-size: 5%, 50%;
  
}

nav ul li{
  margin-right: 50px;
  display: inline-block;
  list-style: none;
}

nav li a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

.name{
  font-size: 50px;
  margin-bottom: 10px;
}

.description{
  font-size: 15px;
  margin-bottom: 20px;
}
.banner{
  margin: 0 38px 0 130px;
  display: flex;
  justify-content: space-between;
  
}

.banner-items{
  margin-top: 120px;
  width: 485px;
}

.img-tag{
  max-width: 450px;
}

/* shared items */
.btn{
  padding: 10px 20px;
  background: #FD6E0A;
  border-radius: 5px;
  border-style: none;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.btn1{
  padding: 10px 20px;
  background: white;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
  font-size: 15px;
  color: #FD6E0A;
  cursor: pointer;
  margin-left: 10px;
}

.body-normal-fonts{
  font-size: 18px;
  color: #757575;
}

/* About Design */ 
main{
  max-width: 1140px;
  height: 288px;
  margin: 130px auto;
}


.about-parent{
  max-width: 1140px;
  background: #FFF8F3;
  text-align: center;
  padding: 130px 150px;
  border-radius: 10px;
}

.about-title{
  font-size: 35px;
  margin-bottom: 25px;
}
.about-description{
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

.name-email-birth{
  display: flex;
  font-size: 20px;
  font-weight: 500;
  gap: 25px;
  justify-content: space-around;
}

.name-email-birth-child{
  font-weight: normal;
}

/* What I do Section */
.what-i-do-first{
  padding: 50px 110px;
  width: 0 auto;
  text-align: center;
}
.what-i-do-first h3{
  font-size: 35px;
  margin-bottom: 20px;
}
.what-i-do-first p{
  font-size: 18px;
}

.skills-container{
  display: flex;
  gap: 20px;
}

.skills{
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px #00000020;
}

.skills img, h4{
  margin-bottom: 20px;
}

.body-normal-font{
  font-size: 16px;
  color: #757575;
}

.resume-container{
  display: flex;
}

.resume-column{
  padding: 20px 30px;
}

.resume-column-title{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

.experience-title{
  font-size: 25px;
  color: #474747;
}

.expreience-sub-title{
  font-size: 20px;
  color: #474747;
  margin-bottom: 10px;
}

.exprience-description{
  font-size: 16px;
  color: #757575;
  margin-bottom: 10px;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 100px auto;
}

hr{
  margin: 20px 0px;
}

.ex-button{
  text-align: center;
}